<ion-view title="Featured">
  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
  <div class="list list-inset">
  <h2 class="iCookSubtext">Recently Featured Articles</h2>
  <div class="list">

    <a class="item item-avatar padding-top featuredfood" href="#/app/home/featured1">
      <img src="{{featured1.img}}">
      <h2>{{featured1.title}}</h2>
      <p> {{featured1.description}}</p>
    </a>
   </div>
   <div class="list">

    <a class="item item-avatar featuredfood" href="#/app/home/featured2">
      <img src="{{featured2.img}}">
      <h2>{{featured2.title}}</h2>
      <p> {{featured2.description}}</p>
    </a>
   </div>
   <div class="list">

    <a class="item item-avatar featuredfood" href="#/app/home/featured3">
      <img src="{{featured3.img}}">
      <h2>{{featured3.title}}</h2>
      <p> {{featured3.description}}</p>
    </a>
   </div>
    </div>
    </div>
  </ion-content>
</ion-view>
