<ion-view title="First Aid">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">

  <div class="card">
  <h2 class="iCookSubtext">First Aid Advice</h2>
  <div class="item item-divider">
    Have you burned your Hand?
  </div>
  <div class="item item-text-wrap">
    Visit a doctor.
  </div>
  </div>
  <div class="card">
  <div class="item item-divider">
    Have you burned your Hand?
  </div>
  <div class="item item-text-wrap">
    Visit a doctor.
  </div>
  </div>
  <div class="card">
  <div class="item item-divider">
    Did you slit your wrists open?
  </div>
  <div class="item item-text-wrap">
    Visit a doctor.
  </div>
  </div>
  <div class="card">
  <div class="item item-divider">
    Did you burn down your house?
  </div>
  <div class="item item-text-wrap">
    Hopeless.
  </div>
  </div>
  </ion-content>
</ion-view>
