<ion-view title="settings">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
  <div class="list list-inset">
  <h2 class="iCookSubtext">Account Settings</h2>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Change First Name</span>
    <input type="text" placeholder="Bob">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">change Last Name</span>
    <input type="text" placeholder="Steen">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Change Email</span>
    <input type="email" placeholder="info@test.com">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Change Username</span>
    <input type="text" placeholder="qwer123">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Change Password</span>
    <input type="password" placeholder="************">
  </label>
  <a href="#" class="subdued"><button class="button button-full button-energized">
 Confirm Changes
</button></a>
</div>
  </ion-content>
</ion-view>
